<!--
=======================
The purpose of this snippet is to write the biography of each author with changing keywords.
=======================
-->

A <span class="changing-keywords w-auto relative align-top inline-block">
    <b class="visible">software engineer</b>
    <b class="hidden">web developer</b>
    <b class="hidden">lifelong learner</b>
</span> — for the last 3 years focused on Laravel framework. Reliable, responsible, serious with a strong entrepreneurial can-Do mentality and the goal of making a huge positive impact on this world.
