<nav class="site-nav">
	<div class="site-nav-left">
		{% if page.current != 'home' %}
			{% if site.logo %}
				<a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}"><img src="{{ site.baseurl}}{{ site.logo }}" alt="{{ site.title }}" /></a>
			{% else %}
				<a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
			{% endif %}
		{% endif %}
		{% if page.navigation %}
			{% include navigation.html %}
		{% endif %}
	</div>
	<div class="site-nav-right">
		<div class="social-links">
			{% if site.twitter %}
				<a class="social-link social-link-tw" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">{% include twitter.html %}</a>
			{% endif %}
			{% if site.github %}
				<a class="social-link social-link-gh" href="https://github.com/{{ site.github }}" target="_blank" rel="noopener">{% include icons/github.html %}</a>
			{% endif %}
			{% if site.linkedin %}
				<a class="social-link social-link-ln" href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener">{% include linkedin.html %}</a>
			{% endif %}
			{% if site.email %}
				<a id="email-modal" class="social-link social-link-ml send-email-modal" href="#send-modal">{% include icons/envelope.html %}</a>
			{% endif %}
				<a id="search-modal" class="social-link social-link-ml" href="#search-modal">{% include icons/search.html %}</a>
				<a class="social-link" href="/cart/"><span id="cartnumber" style="display: none;"></span><svg version="1.1" id="Shopping_cart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve" style="position: relative; top: 1px;">
					<path d="M13,17c0,1.104,0.894,2,2,2c1.104,0,2-0.896,2-2c0-1.106-0.896-2-2-2C13.894,15,13,15.894,13,17z M3,17c0,1.104,0.895,2,2,2
						c1.103,0,2-0.896,2-2c0-1.106-0.897-2-2-2C3.895,15,3,15.894,3,17z M6.547,12.172L17.615,9.01C17.826,8.949,18,8.721,18,8.5V3H4V1.4
						C4,1.18,3.819,1,3.601,1H0.399C0.18,1,0,1.18,0,1.4L0,3h2l1.91,8.957L4,12.9v1.649c0,0.219,0.18,0.4,0.4,0.4H17.6
						c0.22,0,0.4-0.182,0.4-0.4V13H6.752C5.602,13,5.578,12.449,6.547,12.172z"></path>
					</svg></a>
		</div>
		{% if site.subscribers %}
			<a class="subscribe-button" href="#subscribe">Subscribe</a>
		{% endif %}
	</div>
</nav>
