---
---
body {
	color: #24292e;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 16px;
	line-height: 28px;
}

html, body, main {
	width: 100%;
	height: 100%;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

a { text-decoration: none; }

h1 { font-weight: 500; }

.page--not-found article {
	z-index: 1;

	h1, p, a { color: #fff; }
}

.page--index {
	p a,
	small a {
		border-bottom: 2px solid transparent;
		color: #6d52f3;
		padding-bottom: 1px;
		transition: border-color 100ms ease;

		&:hover { border-color: #6d52f3; }
	}
}

.gif {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;

	&::after {
		background-color: rgba(0,0,0,.75);
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
}

article {
	max-width: 530px;
	text-align: center;
	width: 90%;
}

img {
	border-radius: 100%;
	max-width: 150px;
}

footer { margin-bottom: 20px; }