<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="application-name" content="{{ site.title }}">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
	<meta name="msapplication-TileImage" content="/assets/images/icon-144x144.png">
	<meta name="msapplication-TileColor" content="#a09df3">
	<meta name="theme-color" content="#a09df3">
	
	<title>{{ site.title }}</title>
	
	<link rel="apple-touch-icon" href="/assets/images/icon-152x152.png">
	<link rel="icon" sizes="192x192" href="/assets/images/icon-192x192.png">
	<link rel="shortcut icon" href="/assets/images/icon-192x192.png">
	
	<link rel="stylesheet" href="/assets/styles/portfolio.css">
	<noscript><link rel="stylesheet" href="assets/styles/noscript.css"/></noscript>
</head>
<body>
	
	{{ content }}
	
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.poptrox.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/skel-viewport.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>
